body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main {
    display: flex;
}
.left-side {
    flex: 1;
    max-width: 50vw;
    object-fit: contain;
}
.right-side {
    flex: 1;
    padding: 2vw 4vw;
}
h1 {
    font-size: 2.5rem;
}
.planet-facts {
    padding-bottom: 1vw;
}

@media (max-width: 1100px) {
    main {
        flex-direction: column;
    }
}