:root {
  --gray0: #f8f8f8;
  --gray1: #dbe1e8;
  --gray2: #b2becd;
  --gray3: #6c7983;
  --gray4: #454e56;
  --gray5: #2a2e35;
  --gray6: #12181b;
  --purple-extra-dark: #160336;
  --purple-dark: #2b1058;
  --purple: #8561b2;
  --purple-light: #b48de3;
  --purple-extra-light: #e5bcff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#solarSystem {
  position: relative;
  width: 100vw;
  height: 100vh;
  /* in case the background image does not load */
  background-color: var(--purple-extra-dark);
  background-image: url(../images/stars.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

#solarSystem .title {
  color: var(--gray0);
  padding: 10px;
  display: flex;
  align-items: center;
}

#solarSystem .title > img {
  width: 62px;
  height: 62px;
}

#solarSystem .celestial-body {
  position: absolute;
  border-radius: 50%;
  cursor: pointer;
}

#solarSystem .celestial-body > img {
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
}

#solarSystem .celestial-body:hover > img {
  transform: scale(1.1, 1.1);
}

#solarSystem .celestial-body > span {
  text-align: center;
  text-transform: uppercase;
  color: var(--gray2);
  position: absolute;
  top: -16px;
  left: 50%;
  transform: translate(-50%, 0);
}

#solarSystem .celestial-body.sun {
  width: 150px;
  height: 150px;
  left: 5px;
  top: 50%;
  transform: translate(0, -50%);
}

#solarSystem .celestial-body.mercury {
  width: 30px;
  height: 30px;
  left: 15%;
  top: 70%;
}

#solarSystem .celestial-body.venus {
  width: 40px;
  height: 40px;
  left: 23%;
  top: 40%;
}

#solarSystem .celestial-body.earth {
  width: 45px;
  height: 45px;
  left: 33%;
  top: 50%;
  transform: translate(0, -50%);
}

#solarSystem .celestial-body.mars {
  width: 43px;
  height: 43px;
  left: 40%;
  top: 30%;
}

#solarSystem .celestial-body.jupiter {
  width: 90px;
  height: 90px;
  left: 50%;
  top: 30%;
}

#solarSystem .celestial-body.saturn {
  width: 95px;
  height: 95px;
  left: 60%;
  top: 70%;
}

#solarSystem .celestial-body.uranus {
  width: 70px;
  height: 70px;
  left: 70%;
  top: 20%;
}

#solarSystem .celestial-body.neptune {
  width: 70px;
  height: 70px;
  left: 80%;
  top: 50%;
}

@media (max-width: 1260px) {
  #solarSystem {
    padding: 1em;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 100%;
    align-items: center;
  }

  #solarSystem .celestial-body {
    position: initial;
    margin: 2em 0 2em 0;
  }

  /* Target all the elements with class celestial-body */
  #solarSystem .celestial-body:nth-of-type(n) {
    transform: translate(0, 0);
  }
}
